@charset "utf-8";

html { font-size: 16px; }
body { min-width: 320px;/* font-size: calc(16px + 1vw);line-height: calc(1.1em + 0.5vw); */ }
h1,h2,h3,h4,h5,h6 { font-family: 'Open Sans', sans-serif; }
a,button,link,nav,select,optgroup,option { font-family: 'Segoe UI', sans-serif; }
p,label,ul,ol,li,input,textarea { font-family: 'Segoe UI', sans-serif; }

@media (min-width: 576px) {
    html{ font-size: 1rem; }
}
@media (min-width: 768px) {
    html{ font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html{ font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html{ font-size: 1.5rem; }
}


header {
    background-color: var(--bg-green);
    background-image: linear-gradient(120deg, #155799, #159957);
    color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header > div#myphoto-box {
    position: relative;
    margin: 0 auto;
    min-width: 120px;
    max-width: 240px;
    width: 15%;
    z-index: 1;
}
header > div#myphoto-box > img#pic {
    border: 8px solid white;
}

header > div#profile-box { margin-top: 1rem; }
header > div#profile-box > #profile-name { opacity: .9; padding: 0 1rem }
header > div#profile-box > #profile-desc { opacity: .7; padding: 0 1rem }
header > div#profile-box > #profile-desc > span { display: inline-block; }


section > .head {
    background-image: linear-gradient(120deg, #159957, #155799);
      color: white;
     margin: 0 -15px;
    padding: 1rem 1rem;
    text-transform: uppercase;
}
section > .body { margin: 1rem 1rem; }
section > .body > blockquote {
    border-right: 5px solid maroon;
     margin: 1rem 0rem;
    padding: .5rem 1.5rem .5rem 0;
}
section > .body > blockquote > p      { font-size: 2rem; }
section > .body > blockquote > footer { font-size: 1rem; }

section > .body > p {
    padding: 0;
}
